/* In the name of Allah */

@font-face {
	font-family: 'vazir';
	src: url('lib/Vazir.ttf');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'vazir';
	direction: rtl;
}

.ui-header , .ui-footer {
	background-color: #1a1a1a;
	border-color: #dddddd;
	color: #f2f2f2;
	text-shadow: 0 1px 0 #eeeeee;
	font-weight: bold;
}

.head-btn {
	color: #1a1a1a;
}

.green {
	background-color: #28a745 !important;
}

.red {
	background-color: #dc3545 !important;
}

.yellow {
	background-color: #ffc107 !important;
}

.blue {
	background-color: #007bff !important;
}

.cyan {
	background-color: #17a2b8 !important;
}

input , .chcklbl {
	text-align: right !important;
	font-family: 'vazir';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}