/* In the name of Allah */

@font-face {
	font-family: 'vazir';
	src: url('lib/Vazir.ttf');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'vazir';
}

.ui-header , .ui-footer {
	background-color: #1a1a1a;
	border-color: #dddddd;
	color: #f2f2f2;
	text-shadow: 0 1px 0 #eeeeee;
	font-weight: bold;
}

.head-btn {
	color: #1a1a1a;
}

.green {
	background-color: #28a745 !important;
}